@import "../../../shared/styles/defaults";

.side-navigation {
  &--position {
    width: 112px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #EEEEEE;
    transition: width .155s ease-in-out;
  }

  &--menu-btn {
    width: 100%;
    @extend %flex-all;
    height: 105px;
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
    transition: all .125s ease;
    position: relative;

    &:hover {
      background-color: rgba($oc-gray-1, .6);
    }
  }

  .menu-list {
    &--position {
      @extend %flex;
      @extend %flex-center-y;
      width: 100%;
      padding-top: 75px;
    }

    .nav {
      &--list {
        width: 100%;
      }

      li {
        @extend %flex;
        @extend %flex-center-y;
        width: 100%;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &--item {
        @extend %flex;
        @extend %flex-center-y;
        width: 100%;
        color: $oc-gray-4;
        text-decoration: none;
        height: 64px;
        font-family: 'Roboto';
        position: relative;

        &--icon {
          padding: 20px 20px;
          width: 110px;
          height: 64px;
          @extend %flex-all;
        }

        &--title {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          left: 35%;
          transition: all .100s ease-in-out;
        }

        svg * {
          transition: opacity .25s ease, visibility .05s ease-in-out;
        }

        &--active {
          box-shadow: inset -2px 0 0 0 #578cff;
          color: #578cff;

          svg, svg path, ellipse {
            fill: #578cff;
            stroke: #578cff;
          }
        }
      }
    }
  }

  &--wide {
    width: 280px;

    .menu-list {
      .nav {
        &--item {
          &--title {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }

}

.is-open .burger-stack {
  background: none;
}

.is-open .burger-stack::before, .is-open .burger-stack::after {
  top: 0;
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out;
}

.is-open .burger-stack::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.is-open .burger-stack::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.burger {
  display: block;
  border: 0;
  left: 50%;
  height: 15px;
  position: absolute;
  top: 50%;
  width: 25px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
}

.burger-stack {
  background: #000;
  display: block;
  height: 3px;
  margin-top: 3px;
  width: 25px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger-stack::before, .burger-stack::after {
  background: #000;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  width: 25px;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.burger-stack::before {
  top: -3px;
}

.burger-stack::after {
  top: 9px;
}

$burger-pos: 0px;
$burger-height: 3px;
$burger-transitionSpeed: 0.4s;
$burger-width: 26px;
$burger-color: #000;

.is-open {
  .burger-stack {
    background: none;

    &::before,
    &::after {
      top: 0;
      -webkit-transition: all $burger-transitionSpeed 0.2s ease-in-out;
      transition: all $burger-transitionSpeed 0.2s ease-in-out;
    }

    &::before {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &::after {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 25px;
    }
  }
}

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.burger {
  display: block;
  border: 0;
  left: 50%;
  height: 5 * $burger-height;
  position: absolute;
  top: 50%;
  width: $burger-width;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
}

.burger-stack {
  background: $burger-color;
  display: block;
  height: $burger-height;
  margin-top: $burger-height;
  width: $burger-width;
  -webkit-transition: all $burger-transitionSpeed ease-in-out;
  transition: all $burger-transitionSpeed ease-in-out;

  &::before,
  &::after {
    background: $burger-color;
    content: '';
    display: block;
    height: $burger-height;
    position: absolute;
    width: $burger-width;
    z-index: -1;
    -webkit-transition: all $burger-transitionSpeed ease-in-out;
    transition: all $burger-transitionSpeed ease-in-out;
  }

  &::before {
    top: -$burger-height;
  }

  &::after {
    top: (3 * $burger-height);
    width: 12px;
  }
}
